<ion-view view-title="EcoFunciones">
  <ion-content class="padding">
    <h2 class="titulos">La Importancia del Agua</h2>
    <h6 class="titulos">El agua es la única bebida del hombre sabio. (Henry David Thoreau)</h6>
    <h4 class="info">Punto de ebullición: 100 °C.
        Masa molar: 18.01528 g/mol.
        Densidad: 997 kg/m³.
        Fórmula: H2O.</h4>
    <p class="info">El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.</p>
    <p class="info">Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua.</p>
    <iframe src="../videos/water.mp4" class="videowl"></iframe>
    <div class="container">
      <div class="dna">
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>
        <div class="dna-part"></div>        
      </div>
    </div>
    <h2 class="titulos">ADN</h2>
    <p class="info">El ADN es la macromolécula base de la herencia. Es un ácido nucleico que contiene la información de las características hereditarias de cada ser vivo y las secuencias para la creación de aminoácidos que generarán las proteínas vitales para el funcionamiento de los organismos.</p>
    <h2 class="titulos" id="interactive">Video Interactivo</h2>
    <iframe src="../videos/life.mp4" class="videowl"></iframe>
    <h2 class="titulos">Memoria Juego</h2>
    <img src="../img/jul.gif" class="memor">
    <h2 class="titulos">Tabla Nutricional</h2>
    <table id="customers">
  <tr>
    <th>Comidas al Día</th>
    <ion-icon name="wine"></ion-icon>
    <th>Desayuno</th>
    <th>Refacción</th>
     <th>Almuerzo</th>
  </tr>
  <tr>
    <td>Lunes</td>
    <td>Huevos estrellados</td>
    <td>1 manzana verde</td>
    <td>Espagetis con carne</td>
  </tr>
  <tr>
    <td>Martes</td>
    <td>Cereales</td>
    <td>Galletas de Avena y leche</td>
    <td>Pechuga de pollo guisada con verduras</td>
  </tr>
  <tr>
    <td>Miercoles</td>
    <td>Huevos Revueltos con tomate y cebolla</td>
    <td>Rollos de Jamón y queso</td>
    <td>Pasta con salsa a base de pechuga molida, verdura y tomate</td>
  </tr>
  <tr>
    <td>Jueves</td>
    <td>Frutas con Yogurt</td>
    <td>Batido de yogur y frutas</td>
    <td>Pescado a la plancha con vegetales al horno salteados</td>
  </tr>
  <tr>
    <td>Viernes</td>
    <td>Pan Integral con Jamón y Lechuga</td>
    <td>Cereal y Frutas</td>
    <td>Lomo de cerdo al horno y mermelada de manzana sin azúcar,acompañado de vegetales y arroz integral</td>
  </tr>
  <tr>
    <td>Sabado</td>
    <td>Batidos Saludables</td>
    <td>Sandwich de manzana con Mantequilla</td>
    <td>Pechuga a lla plancha con camote al horno y verdura picada</td>
  </tr>
  <tr>
    <td>Domingo</td>
    <td>Sandwich con salmón y rucúla</td>
    <td>Bocadillo de queso tomate y rúcula</td>
    <td>Quesadilla Vegetariana de Espinaca</td>
  </tr>
  </tr>
  </ion-content>
</ion-view>
